body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.input-title {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    transition: border-color 0.3s ease;
    outline: none;
    width: 160px;
}

.input-title:focus {
    border-color: #4CAF50; /* зелёный акцент при фокусе */
}
.input-price {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    transition: border-color 0.3s ease;
    outline: none;
    width: 80px;
}
.isActive{
    border-radius:50%
}

button[type="submit"] {
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    background: green
}