body{
    background: linear-gradient(90deg, #1b2c55,#3d85a9,#63cac8,#b8edff);

}
.container{
    text-align: center;
    width: 80%;
    height: 80%;
    background: linear-gradient(90deg, #ffffff,#adecff);
}