<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
   <div class="create">
     <h1>Добавление товара</h1>
     <form method="post">
         <input type="text" class="input-title" name="title" id="title" placeholder="Введите название товара">
         <input type="number" class="input-price" name="price" id="price" placeholder="Введите цену товара">
         <input type="image" class="input-title" name="img" id="img">
         <input type="checkbox" class="isActive" name="isActive" id="isActive">Наличие
         <button type="submit">Добавить товар</button>
     </form>
   </div>
</body>
</html>